.logo-header {
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: var(--secondary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-text-color);
}

.first-part-logo {
  color: var(--accent-color);
}
